[Desktop Entry]
Type=Application
Version=1.0
Name=AsterTrack
GenericName=Tracking System Server
NoDisplay=false
Comment=The Server Program for the AsterTrack Tracking System
Icon=/opt/astertrack/resources/astertrack_icon.svg
Exec=env OMP_NUM_THREADS=8 /opt/astertrack/astertrack-server
Path=/opt/astertrack
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
