# Extension Caches
.cache
.codechecker
compile_commands.json

# Build System Configuration
# Can't put all path config in small files, several places in .vscode also need to be updated
toolpath.make

# Builds
build/
