# Extension Caches
.cache
.codechecker
compile_commands.json

# Build systems
build/

# Setup scripts
setup/*.img
setup/data
setup/storage
setup/download
setup/storage_*
setup/download_*
setup/search_repo_*